{% include 'header.html' with c_acceuil="none" c_gestion_produits="none" c_gestion_entree="none" c_gestion_sortie="none" c_statistiques="none" c_administration="none" c_gestion_clients="active-menu" c_gestion_fournisseurs="none" c_gestion_stock="none" v_name="Gestion Des Clients" %}
{% load static %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Gestion des clients</h1>
                    </div>
                </div>
                <p>
                    <a href="/ajouter_client/"><button class="btn btn-primary" ><i class="glyphicon glyphicon-plus"></i> Ajouter</button></a>
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Action</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Mail</th>
                                <th>Tel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in Clients %}
                            <tr>
                                <td>{{client.id}}</td>
                                <td><form method="post">  
                                        {% csrf_token %}

                                    <button class="btn btn-danger" formaction="../supprimer_client/{{client.id}}/" value="{{client.id}}"><i class="glyphicon glyphicon-minus"></i> Supprimer</button>
                                    <button class="btn btn-inverse"><i class="fa fa-refresh"></i> Modifier</button>
                                </form></td>
                                <td>{{client.client_nom}}</td>
                                <td>{{client.client_adresse}}</td>
                                <td>{{client.client_mail}}</td>
                                <td>{{client.client_tel}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html'%}

